:root {
    --cursor: auto;
}

body {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(50, 50, 50);
    min-height: 100vh;
}

header {
    grid-row: 1/2;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 1fr, 5fr;
}

#lotus {
    align-self: center;
    height: 4em;
    aspect-ratio: 2 / 1;
    padding: 5px;
}

#title {
    font-family: poppins;
    letter-spacing: 0.2em;
    align-self: flex-end;
    font-size: 60px;
    margin: 0;
}

#banner-top {
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 40, 40);

}

#banner-bottom {
    font-family: poppins;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 30, 30);
}

.nav {
    padding-left: 5em;
    margin: 0;
}

/* here begins canvas */

#canvas-div {
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* border: 1px black solid; */
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: rgb(50, 50, 50);
}

#button-div {
    display: flex;
    flex-direction: row;
}

.overlay-button {
    transition: 0.3s;
    background-color: rgb(50, 50, 50);
    border: 1px black solid;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 20% 20% 0 0;
}

#circle-icon {
    opacity: 0.5;
}

#grid-icon {
    opacity: 0.5;
}

.overlay-button:hover {
    background-color: rgb(70, 70, 70);
}

.small-canvas-buttons {
    transition: 0.3s;
    opacity: 0.5;
    color: white;
    height: 50%;
    background-color: rgb(50, 50, 50);
    border: 1px black solid;
    border-radius: 20% 20% 0 0;
    align-self: flex-end;
}

.small-canvas-buttons:hover {
    background-color: rgb(70, 70, 70);
}

.canvas-invisible {
    display: none;
}

.overlay-button-litup {
    background-color: rgb(70, 70, 70);
}

#main-canvas {
    z-index: 1;
    background-color: rgb(50, 50, 50);
    border: 1px black solid;
    width: 900px;
    aspect-ratio: 1;
}

#clickable-canvas {
    /* --cursor: auto; */
    cursor: var(--cursor), auto;
    z-index: 3;
    background-color: transparent;
    border: 0px black solid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 900px;
    aspect-ratio: 1;
}

#clickable-canvas:hover {
    overflow:hidden;
}

#circle-overlay-canvas {
    opacity: 0.5;
    border: 0px black solid;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 900px;
    aspect-ratio: 1;
}

#grid-overlay-canvas {
    opacity: 0.5;
    border: 0px black solid;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 900px;
    aspect-ratio: 1;
}

/* here begins explanation div */

#explanation-div {
    font-family: poppins;
    line-height: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/4;
    border: whitesmoke 2px solid;
    border-radius: 3%;
    margin: 10px;
    padding: 0 5% 2% 5%;
}

#mandala-image {
    width: 40%;
}

/* here begins side options */

#small-options-div {
    text-align: center;
    display: grid;
    grid-template-columns: auto 1px auto;
    grid-template-rows: auto auto auto;
    margin: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
    border: black 1px solid;
}

#size-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto 7px auto 7px;
}

#size-slider {
    margin: auto;
    grid-column: 1/2;
    grid-row: 2/4;
    height: 90%;
    width: 40%;
    background: rgb(70, 70, 70);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    opacity: 0.5;
}

#size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(40, 40, 40);
    cursor: pointer;
}

#size-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(40, 40, 40);
    cursor: pointer;
}

.divider {
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: white;
    opacity: 0.2;
    height: 90%;
    width: 1px;
}


#colour-title {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}

#pallet-selector {
    font-family: poppins;
    grid-column: 3/4;
    grid-row: 2/3;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: rgb(50, 50, 50);
    outline: none;
    border: 0.1px  solid black;
    color: white;
    font-size: 15px;
}

#colour-options-div {
    height: 300px;
    width: 400px;
    grid-column: 3/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10px;
    border: solid 1px black;
}

.colour-circle {
    margin: auto;
    transition: 0.1s;
    border: 2px black solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    /* background-color: yellow; */
}

#colour-circle-lit {
    border: 2px white solid;
}

.colour-circle:hover {
    border: 2px white solid;
}